<html style="overflow: auto!important;">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/{{mode}}.css">   
    <script src="/assets/js/jquery.min.js"></script>
    <title>KGSACU CP</title>
  </head>
  <body>
    <div class="p-3 h-100 w-100">
      <h3>Information</h3>
        <p>Command Post 4.0 was made in 2021 by Trent Muskens</p>
        <p>The previous version of the software, CP 3.0 was created by Trent Muskens and Renier Lambinon in 2018 and first used on AFX in 2019</p>
        <p>Before that, CP 2.0 was developed by Oliver Bolton and Alexander Bradner and was used from 2005 to 2018</p>
        <p>The reason this software was developed was to ensure the Command Post runs at peak efficiency at all times. CP 4.0 builds upon many key features created in CP 3.0 including</p>
        <ul>
          <li>A new more modern interface.</li>
          <li>The Software being a web application run over a Local Area Network or Peer to Peer network.</li>
          <li>The log is synchronized across all computers on the network, and is not just stored locally on each computer.</li>
          <li>EXCON CUOs can connect to the server in order to view the log. This makes it easy for people like the QM to view all the MAINTDEMs that have been submitted without disrupting the workers in the Command Post.</li>
          <li>Advanced query system to sort through the log with ease.</li>
          <li>The log automatically backs up to a USB on a regular basis incase there is data failure.</li>
          <li>Easily upload, download and delete the log.</li>
          <li>Allows users to ammend the Serials of Returns in accordance with a changing SOI.</li>
          <li>Easy autocomplete for Locations minimises typing.</li>
          <li>Print multiple copies of documents with more ease.</li>
          <li>Includes graveyard shift entertainment (see the quick tip below)</li>
        </ul>
      <br>
    </div>
  </body>
</html>