<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="/assets/js/jquery.min.js"></script>
    <!-- STYLE 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/{{mode}}.css">   
    <title>CP v4.0</title>
  </head>
  <body>
    <div class="vh-100 w-100 d-flex flex-column">
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
          <div class="container-fluid">
            <a class="navbar-brand" href="/index"><strong>KGSACU Command Post</strong></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="/index">Record Transmission</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/log">Log</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/map">Map</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="/notes">Notes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/settings">Settings</a>
                </li>
              </ul>
              <button id="connect" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#connect-modal">Connect Another Computer</button>
            </div>
          </div>
        </nav>

        <div class="container-fluid flex-grow-1 nopadding ">
          <div class="col px-3 py-3 h-100 d-flex flex-column">
              <div class="container-fluid bg-primary px-2 pt-2 pb-1 border">
                <h5 class="text-light">Notes</h5>
              </div>
              <div class="flex-grow-1 border-top-0 border">
                <textarea class="form-control w-100 h-100" style="resize: none; box-shadow: none; border: 0"></textarea>
              </div>
            </div>
        </div>
      </div>
      <div id="connect-modal" class="modal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Connect another computer</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <ul>
                <li>Connect the other device to the peer to peer network or wifi network</li>
                <li>Open Google Chrome</li>
                <li>Go to <span>{{url}}</span></li>
              </ul>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    <script src="/assets/js/autosave.min.js"></script>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        AutoSave.start();
      })
      $(window).on("unload", function() {
        AutoSave.stop();
      });
    </script>
  </body>
</html>
