<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script src="/assets/js/jquery.min.js"></script>
    <!-- STYLE 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/{{mode}}.css">   
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>

    <title>CP v4.0</title>
  </head>
  <body>
    <div class="vh-100 w-100 d-flex flex-column">
      <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index"><strong>KGSACU Command Post</strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/index">Record Transmission</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/log">Log</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/map">Map</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/notes">Notes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/settings">Settings</a>
              </li>
            </ul>
            <button id="connect" class="btn btn-outline-light" data-bs-toggle="modal" data-bs-target="#connect-modal">Connect Another Computer</button>
          </div>
        </div>
      </nav>

      <div class="container-fluid flex-grow-1">
        <div class="row h-100">
          <div class="col-2 px-3 pt-3 left-pane h-100">
            <div class="d-grid gap-3">
              <button class="btn btn-primary disabled">
                Settings
              </button>
              <button type="button" class="btn theme-button transmission-btn active setting-btn" value="general">
                General
              </button>
              <button type="button" class="btn theme-button transmission-btn setting-btn" value="info">
                Software Information
              </button>
              <button type="button" class="btn theme-button transmission-btn setting-btn" value="serials">
                Edit Serials
              </button>
              <button type="button" class="btn theme-button transmission-btn setting-btn" value="locations">
                Edit Locations
              </button>
              <button type="button" class="btn theme-button transmission-btn setting-btn" value="callsigns">
                Edit Callsigns
              </button>
            </div>
          </div>
          <div class="col-10 h-100 p-3 d-flex flex-column">
            <div class="bg-primary px-2 pt-2 pb-1">
              <h5 id="banner" class="text-light">General</h5>
            </div>
            <iframe class="w-100 border border-dark flex-grow-1" id="settings-iframe" src="/settings/general">
            </iframe>
          </div>
        </div>
      </div>
    </div>
    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
      <div class="toast bg-white text-dark" role="alert" data-bs-delay="2000">
        <div class="toast-header">
          <strong class="me-auto">Command Post</strong>
          <small>Just then</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div id="toast-text" class="toast-body">
          {{toast}}
        </div>
      </div>
    </div>
    <div id="connect-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Connect another computer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <ul>
              <li>Connect the other device to the peer to peer network or wifi network</li>
              <li>Open Google Chrome</li>
              <li>Go to <span>{{url}}</span></li>
            </ul>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script src="bootstrap/js/bootstrap.js"></script>
    <script src="assets/js/helpers.js"></script>
    <script src="assets/js/settings/settings.js"></script>
  </body>
</html>
