.row-gap {
  border-collapse: separate;
  border-spacing: 0 0.5rem;
}

.full-btn {
  width: 100%
}

.column-gap td {
  vertical-align: top;
  padding-right: 1rem;
}

.column-gap-sm td {
  vertical-align: top;
  padding-right: 0.5rem;
}

.grey-row {
  background-color: #d7d8da;
}

.settings {
  position: absolute;
  right: 1rem;
  top: .75rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3rem;
}

#transmission-div {
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
  
}

#input-div {
  max-height: calc(100% - 14rem);
  overflow-y: auto;
  overflow-x: hidden;
}

#input-table thead {
  position: sticky; top: 0; 
  z-index: 1;
}